{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('coach1/_form.html.twig') }}

    <a href="{{ path('app_coach1_index') }}">back to list</a>
{% endblock %}
