{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Réinitialiser votre mot de passe'|trans }}</h1>

    <form method="post" action="{{ path('app_reset_password', {'token': token}) }}">
        <div>
            <label for="password">{{ 'Nouveau mot de passe'|trans }} :</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">{{ 'Réinitialiser le mot de passe'|trans }}</button>
    </form>
{% endblock %}
