{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Edit Produit</h1>

    {{ include('produituser/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produituser_index') }}">back to list</a>

    {{ include('produituser/_delete_form.html.twig') }}
{% endblock %}
