<!DOCTYPE html>
<html>
  <!-- Dans votre template HTML de base (par exemple, base.html.twig) -->
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
