{% extends 'base.html.twig' %}

{% block title %}Modifier la Catégorie{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="card-body">
        {{ include('categorie/_edit_modal_content.html.twig') }}
    </div>
</div>
{% endblock %}